@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  height: 100%;
  width: 100%;
  background-color: black;
}

h1 {
  text-align: center;
  position: absolute;
  width: 100%;
  margin: 10 0 0 0;
  left: 0;
  top: 40px;
}

.rainbow-text {
  font-size: 40px;
  font-family: "VT323";
  margin: 0;
  transform: translateY(-50%);
}
