@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* chrome, safari, opera, need to test if it works */
html::-webkit-scrollbar {
  display: none;
}


p {
  color: white;
}

h1 {
  top: 128px;
  font-size: 8vw;
}

h1, #desc {
  text-align: center;
  width: 100%;
  left: 0;
  color: white;
}

#desc {
  margin: 0;
  top: 20px;
  position: relative;
}

.rainbow-text {

  font-family: "VT323";
  margin: 128px 0 0 0;
  transform: translateY(-50%);
}

.flex-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  top: 64px;
  left: 10%;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 80%;
}

.flex-item {
  border: 8px dotted;
  width: 300px;
  max-width: 500px;
  min-height: 250px;
  margin: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  flex-grow: 1;
}

@media all and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-item {
    width: auto;
    max-width: none;
  }
}

@media only screen and (hover: none) and (pointer: coarse){

  .flex-container {
    flex-direction: column;
  }
  .flex-item {
    width: auto;
    max-width: none;
  }

}

#after {
  width: 100%;
  height: 256px;
}

#bubble {
  background-color: black;
  border: 2px solid white;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  min-width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 0 10px;
}

#footer {
  text-align: center;
  margin: 24px 0;
}